$color_1: #ffffff;

$font_color_1: #fff;
$font_color_2: #000;

$background_color_1: #ffffff;
$background_color_2: #4056b4;
$background_color_3: #c3c2c2;
$background_color_4: #f1f1f1;

$border_color_1: #c3c2c2;

$border_1: 1px solid $border_color_1;

$box-shadow_1: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);

@mixin image-box-size{
    width: 340px;
    height: 240px;
};
